.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1660px;
    margin: auto;
}

.uppercase {
    text-transform: uppercase;
}

.c-red {
    color: #fe0000;
}

.flash-box {
    position: relative;
}

.flash-content {
    position: relative;
}

.flash-img {
    position: absolute;
    bottom: 0;
    mix-blend-mode: lighten;
}

.row {
    display: flex;
    align-items: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.button {
    width: 100%;
    max-width: 200px;
}

@media (min-width: 768px) {
    .button {
        width: 100%;
        max-width: 400px;
    }
}



#eighth-section .container {
    position: relative;
    max-width: 1435px;
    align-items: center;
}
#eighth-section .bg-final {
    width: 100%;
    z-index: -2;
    mix-blend-mode: lighten;
    position: absolute;
}
#eighth-section .content {
    width: 100%;
    /* height: 100%; */
}
#eighth-section .row {
    justify-content: space-between;
}
#eighth-section .col {
    padding: 0 15px;
}
#eighth-section .first-row {
    justify-content: center;
}
#eighth-section .second-row {
    align-items: center;
    justify-content: center;
}
#eighth-section .second-row .col:first-child {
    text-align: center;
}
#eighth-section .second-row .col:last-child p {
    line-height: 1.50;
}
#eighth-section .third-row {
    margin-top: 5px;
    margin-bottom: 0;
    justify-content: flex-start;
    padding-left: 9%;
}
#eighth-section .fourth-row {
    padding-left: 9%;
}
#eighth-section .fifth-row {
    text-align: center;
    margin-top: 20px;
}
#eighth-section .flash-img {
    left: 50%;
    width: 100%;
    transform: translate(-50%, 55%);
    z-index: -1;
}
#eighth-section .sixth-row {
    justify-content: space-around;
    margin-top: -3%;
}
#eighth-section .sixth-row .warning {
    margin-top: 40px;
    font-size: 20px;
}
#eighth-section .sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 10%;
}

#eighth-section .sub-container {
    max-width: 500px;
}
#eighth-section .fifth-row img {
    width: 100%;
    max-width: 350px;
}
#eighth-section .sixth-row img {
    width: 100%;
    max-width: 250px;
}


#ninth-section .container {
    width: 95%;
    max-width: 1200px;
    border: 1px solid red;
    border-radius: 30px;
    padding: 20px;
    margin: 0 5px;
    box-sizing: border-box;
}

#ninth-section .container h4 {
    text-align: center;
}
#ninth-section .container .flash-img {
    position: initial;
    margin-bottom: 20px;
}

#ninth-section .accordion p {
    font-size: 16px;
}

#ninth-section .accordion__item {
    margin-bottom: 15px;
    background-color: #1d1d1d;
}

#ninth-section .accordion__button {
    background-color: #242424;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ninth-section .accordion__button:focus {
    outline: none;
}

#ninth-section .accordion__button p {
    width: 95%;
}

/* #ninth-section .accordion__button:hover {
    background-color: #ddd;
} */

#ninth-section .accordion__button:after {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
}

#ninth-section .accordion__button[aria-expanded='true']::after,
#ninth-section .accordion__button[aria-selected='true']::after {
    transform: rotate(-135deg);
}

#ninth-section .accordion__panel {
    padding: 10px 20px;
    animation: fadein 0.35s ease-in;
}

#ninth-section .accordion__panel a {
    text-decoration: underline;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    #eighth-section .sub-container {
        max-width: 700px;
    }
    #eighth-section .fifth-row img {
        width: 100%;
        max-width: 350px;
    }
    #eighth-section .sixth-row img {
        width: 100%;
        max-width: 250px;
    }
    #ninth-section .container {
        padding: 50px;
        width: 100%;
        margin:0 auto;
    }
    #ninth-section .accordion__panel {
        padding: 20px 40px;
    }
}
@media (min-width: 1024px) {

    #eighth-section .second-row .col:first-child p {
        font-size: 35px;
    }
    #eighth-section .sub-container {
        max-width: 900px;
    }
    #eighth-section .fifth-row img {
        width: 100%;
        max-width: 450px;
    }
    #eighth-section .sixth-row img {
        width: 100%;
        max-width: 300px;
    }
}
@media (min-width: 1440px) {
    #eighth-section .sub-container {
        max-width: 1160px;
    }
    #eighth-section .third-row, #eighth-section .fourth-row {
        padding-left: 0;
    }
    #eighth-section .fifth-row img {
        width: 100%;
        max-width: 680px;
    }
    #eighth-section .sixth-row img {
        width: 100%;
        max-width: 498px;
    }
}

.soon-wrapper {
    cursor: default;
    position: relative;
}

.soon-wrapper img {
    opacity: .15;
}

.soon-label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 50%;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
}

.soon-label span {
    background-color: #da0033;
    border-radius: 3px;
    color: white;
    font-size: 70%;
    padding: 3px 12px 4px;
}
