@import 'utils';
@import 'reset';

@keyframes arrow {
  0% {
    bottom: 0;
  }
  33% {
    bottom: -8px;
  }

  66% {
    bottom: 0;
  }
}

body, html, main, #root {
  // background-repeat: no-repeat;
  // background-position: 50% -42px;
  background-color: #000;
  // background-size: cover;
  // background-attachment: fixed;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.Intro {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  .u-flex {
    align-items: center;
  }
  //&:after {
  //  background-image: url(http://polishop.vteximg.com.br/arquivos/rumo-2030-bg-1.png);
  // }
}

.Intro-logo {
  padding: 0 10px;
  p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
  }
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

.Intro-text {
  width: 100%;
  p {
    line-height: 1.2;
    font-weight: 300;
    font-size: 22px;
    margin: 40px 0;
    opacity: 0.9;
    text-align: center;
  }
  img {
    display: block;
    max-width: 426px;
    margin: auto;
  }
  @media (max-width: 767px) {
    .u-uppercase {
      font-size: 14px !important;
    }
  }
}

.Intro-cta {
  max-width: 540px;
}

.Intro-knowMore {
  color: #ffffff;
  display: block;
  font-size: 13px;
  font-weight: 300;
  margin: auto;
  text-align: center;
  text-decoration: none;
  width: 120px;

  svg {
    animation: arrow 1.4s infinite;
    position: relative;
    display: block;
    margin: 0 auto 20px;
  }
}


.Video {
  background-color: #1E0303;
  display: block;
  padding: 50px 0;
  .Video-explanation {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    max-width: 387px;
    margin-right: 34px;
    b {
      font-weight: 700;
    }
    img {
      display: block;
      max-width: 360px;
      margin: 0 auto 20px;
    }
    a {
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 65px;
      margin-top: 30px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }
  }
  iframe {
    height: 540px;
    width: 100%;
  }
}

.Reasons {
  height: auto !important;
  &:after {
    background-image: url(http://polishop.vteximg.com.br/arquivos/rumo-2030-bg-2.png);
    background-size: cover;
    height: auto !important;
  }
  display: block;
  padding: 60px 0;

  .Reasons-subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    b {
      font-weight: 800;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      font-weight: 300;
      border-bottom: 1px solid #FFFFFF;
      padding-bottom: 8px;
      margin-bottom: 12px;
      b {
        font-weight: 700;
      }
    }
  }

  .Invite-swipe-text {
    font-size: 13px;
    text-align: center;
    margin-bottom: 24px;
  }

  .Reasons-items {
    display: block;
    text-align: center;
    width: 100%;
    .Reasons-itemsItem {
      display: inline-block;
      margin: 20px 35px;
      vertical-align: top;
      width: 300px;

      &:first-child, &:nth-child(4) {
        margin-left: 0;
      }
      &:nth-child(3), &:nth-child(6) {
        margin-right: 0;
      }

      img {
        margin-bottom: 15px;
        max-width: 100%;
      }
      p {
        font-family: 'Encode Sans', sans-serif;
        line-height: 1.4;
        font-weight: 300;
        text-align: left;
      }
    }
  }

  .Reasons-answer {
    display: block;
    font-weight: 300;
    line-height: 1.5;
    padding: 0 10px;
    max-width: 486px;
    margin: 50px auto 44px;
    text-align: center;
    width: 100%;

    b {
      display: block;
      font-weight: 700;
    }

    .Reasons-answer-isForYou {
      color: #ff4d64;
      font-size: 50px;
      font-weight: 700;
      margin: 10px auto;
      text-transform: uppercase;
    }
  }

  .Reasons-cta {
    max-width: 480px;
  }
}

.Invite {
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #374544;
  display: flex;
  flex-direction: column;
  // height: 568px;
  margin: 10px;
  // padding: 20px;
  width: 370px;
  position: relative;
  overflow: hidden;
  &.Invite--premium {
    .Invite-block01 {
      display: block;
      background-image: linear-gradient(to right, #D91C1C, #6D0E0E);
    }
  }
  &.Invite--vip {
    .Invite-block01 {
      display: block;
      background-image: linear-gradient(to right, #F7A120, #EB2443);
    }
  }
  .Invite-vpq {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    span {
      font-size: 12px;
    }
  }
  .Invite-container {
    display: block;
    margin: auto;
    width: 210px;
  }
  &.Invite--premium {
    .Invite-container {
      width: 246px;
    }
  }
  .Invite-title {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    b {
      font-weight: 900;
    }
    &:after {
      content: '';
      display: block;
      height: 1px;
      background: #FFFFFF;
      width: 65%;
      position: absolute;
      right: 10px;
      bottom: 6px;
    }
  }
  .Invite-price {
    background-color: #EBEBEB;
    color: #2C0303;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    .Invite-price-currency {
      display: block;
      margin: 0 6px 2px;
    }
    .Invite-price-by {
      display: block;
      font-size: 10px;
      font-weight: 900;
      margin-left: 10px;
    }
    small {
      display: block;
      font-size: 10px;
      font-weight: 300;
      text-decoration: line-through;
    }
    b {
      font-size: 32px;
      font-weight: 900;
    }
  }
  .Invite-image-wrapper {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 210px;
    justify-content: center;
    width: 100%;
  }
  .Invite-image {
    display: block;
  }
  .Invite-name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 0 12px;
    text-align: center;
    text-transform: uppercase;
    b {
      display: block;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 4px;
    }
  }
  .Invite-list {
    margin-top: 20px;
    .Invite-plus {
      display: flex;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 18px;
      svg {
        fill: #F79C20;
        width: 20px;
        margin: 0px 8px 0 6px;
        height: 20px;
      }
    }
    .Invite-listTitle {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
      padding-left: 20px;
      text-transform: uppercase;
      .Invite-listTitle-price {
        color: #41826A;
        display: block;
        font-size: 13px;
        font-style: italic;
        margin-top: 3px;
        text-transform: initial;
      }
    }
    ul {
      list-style-type: none;
      padding: 0 20px 0;
      margin-bottom: 14px;
      li {
        color: #374544;
        font-size: 12px;
        font-style: italic;
        margin: 4px 0;
        position: relative;
        &:after {
          content: '\2713';
          color: #5AB493;
          font-size: 13px;
          position: absolute;
          left: -17px;
          top: 0;
        }
      }
    }
  }
  .Invite-buyButton {
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: 900;
    line-height: 52px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
  }
  .Invite-dates {
    display: block;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  &.Invite--premium {
    width: 356px;
    .Invite-buyButton {
      background-image: linear-gradient(to right, #D91C1C, #6D0E0E);
    }
    .Invite-price {
      color: #393021;
    }
    .Invite-vpq {
      background-color: #ED1D24;
    }
  }
  &.Invite--vip {
    transform: scale(0.95);
    width: 320px;
    .Invite-vpq {
      background-color: #F79C20;  
    }
    .Invite-buyButton {
      background-image: linear-gradient(to right, #F7A120, #EB2443);
    }
    .Invite-price {
      color: #2C0303;
    }
  }
}

.Benefits {
  background-image: linear-gradient(#D91C1C, #6D0E0E);
  display: block;
  padding: 112px 0;
  .Benefit {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #570606;
    display: flex;
    padding: 40px;
    margin: 40px auto;
    max-width: 100%;
    width: 862px;
    align-items: center;
    .Benefit-value {
      align-items: center;
      color: #FFFFFF;
      display: flex;
      height: 94px;
      font-size: 80px;
      font-weight: 900;
      justify-content: center;
      width: 230px;
    }
    .Benefit-text {
      font-size: 19px;
      line-height: 1.4;
      font-weight: 300;
      padding: 20px;
      b {
        font-weight: 700;
      }
      .Benefit-title {
        color: #B90604;
        display: block;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 0;
      }
    }
    &.Benefit-vip {
      .Benefit-value {
        background: linear-gradient(to right, #717171 , #0F0E0E);
      }
      .Benefit-text .Benefit-title {
        color: #B90604;
      }
    }
    &.Benefit-premium {
      .Benefit-value {
        background-image: linear-gradient(to right, #6D0E0E, #D91C1C);
        height: 213px;
      }
      .Benefit-text .Benefit-title {
        color: #B90604;
      }
    }
  }
}

.Tables {
  background-color: #191919;
  // height: auto !important;
  // &:after {
  //   background-image: url(http://polishop.vteximg.com.br/arquivos/rumo-2030-bg-3.png);
  //   background-size: cover;
  //   height: auto !important;
  // }
  display: block;
  padding: 60px 12px;
}
.Tables-tables {
  .u-flex {
    justify-content: center;
  }
}
.Tables-subtitle {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px;
  border-top: 1px solid #FFFFFF;
  margin-bottom: 20px;
}
.Table-wrapper {
  margin: 12px;
  .Table-date {
    background-color: #FFFFFF;
    border-radius: 40px;
    color: #150202;
    font-size: 18px;
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  &.Table-wrapper--first {
    table {
      background: linear-gradient(-40deg , #77D964 50%, #C8F8C0 100%);
    }
  }
  &.Table-wrapper--second {
    table {
      background: linear-gradient(-40deg , #4E6CE1 50%,#00A0E1 100%);
    }
  }
  &.Table-wrapper--third {
    table {
      background: linear-gradient(-40deg , #EB2F3E 50%,#F79C20 100%);
    }
  }
  th, td {
    border: 1px solid #000000;
  }
  table {
    border-radius: 24px;
    overflow: hidden;
    td {
      color: #2C0303;
      height: 87px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      width: 130px;
      padding: 10px;
      &.Table-leftCol {
        background-color: #2A2A2A;
        color: #FFFFFF;
        text-align: left;
      }
      &.Table-gap {
        background-color: #959595;
      }
    }
    thead {
      tr td {
        height: 64px;
      }
    }
  }
}

.Modal {
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  .Modal-closeBtn {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
    top: -34px;
    right: 0;
    svg {
      fill: #FFFFFF;
      margin-left: 4px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .Modal-shadow {
    background-color: rgba(20, 0, 0, 0.8);
    border: none;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .Modal-content {
    background-color: #000000;
    height: 480px;
    left: 50%;
    padding: 8px;
    position: absolute;
    max-width: 800px;
    top: 50%;
    transform: translate(-50%, -80%);
    width: 100%;
    z-index: 2;
    iframe {
      height: 100%;
      width: 100%;
    }
  }

  &.is-active {
    display: block;

    .Modal-shadow {
      opacity: 1;
      transition: all linear 0.4s;
    }
    
    .Modal-content {
      transform: translate(-50%, -50%);
      transition: all linear 0.4s;
    }
  }
}


.Videos {
  background-image: linear-gradient(to bottom right, #000000, #F3214C);
  display: block;
  padding: 80px 24px 80px;
  .u-container {
    max-width: 1200px;
  }
  .Videos-description {
    max-width: 340px;
    margin-right: 30px;

    img {
      max-width: 100%;
      margin-top: 160px;
    }
  }
  .Videos-videos {
    width: 100%;
    display: block;
    .Videos-videosVideo {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #FF4D64;
      padding: 0;
      margin: 0 15px 30px;
      vertical-align: top;
      width: 380px;
      position: relative;
      .Videos-videosVideoThumb {
        &:before {
          background-color: #FF4D64;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
          content: '';
          border-radius: 50%;
          width: 70px;
          height: 70px;
          position: absolute;
          left: 50%;
          top: 50%;
          transition: all linear 0.3s;
          transform: translate(-50%, -50%);
        }
        &:after {
          content: '';
          border-left: 24px solid #FFFFFF;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          width: 1px;
          height: 1px;
          position: absolute;
          left: 51%;
          top: 50%;
          transition: all linear 0.3s;
          transform: translate(-50%, -50%);
        }
      }
      &:hover {
        cursor: pointer;
        &:before {
          transform: scale(1.2);
          transition: all linear 0.3s;
        }
        &:after {
          transform: scale(1.2);
          transition: all linear 0.3s;
        }
      }
      img {
        width: 100%;
      }
      span {
        color: #FFFFFF;
        display: block;
        font-family: 'Encode Sans', sans-serif;
        padding-bottom: 10px;
        text-align: left;
      }
    }
  }
  .Videos-descriptionTitle {
    font-size: 50px;
    font-weight: 400;
  }
  .Videos-description p {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 40px;
  }
}

.BestChoice {
  background-image: url(http://polishop.vteximg.com.br/arquivos/hotsite-innovation--bg44444444.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  padding: 50px 0;
  h3 {
    align-items: center;
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    span {
      margin: 0 8px;
    }
    img {
      margin-bottom: -30px;
      width: 340px;
    }
  }

  .BestChoice-listTitle {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
  }

  .BestChoice-list ul {
    list-style-type: none;
    padding: 0;
    li {
      color: #FFFFFF;
      font-family: 'Encode Sans', sans-serif;
      font-size: 24px;
      margin: 70px 0;
      text-align: center;
      svg {
        stroke: #eb1f27;
        margin-left: 10px;
      }
    }
  }
}

.Participations {
  background-image: url(http://polishop.vteximg.com.br/arquivos/hotsite-innovation2020--bg5555555555.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  padding: 50px 15px;
  h3 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 84px;
    text-align: center;
    text-transform: uppercase;
  }
}

.Participations-main {
  display: block;
  text-align: center;
}

.Participations-mainItem {
  display: inline-block;
  margin: 30px;
  vertical-align: top;
  &.Participations-mainItem--gilberto {
    margin-top: -20px;
  }
  &.Participations-mainItem--appolinario {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    .Participations-mainItemTxt {
      margin: 0 0 0 14px;
      max-width: 350px !important;
      .Participations-name {
        font-size: 30px;
      }
      .Participations-occupation {
        font-size: 20px;
      }
      .Participations-quotes {
        font-size: 19px;
        font-weight: 300;
        margin-top: 20px;
      }
    }
  }
}

.Participations-mainLine {
  display: block;
  margin: 40px 0;
  width: 100%;
}

.Participations-mainItemTxt {
  display: block;
  margin: auto;
  max-width: 310px;
  text-align: left;
  width: 100%;
  .Participations-name {
    border-bottom: 1px solid #eb1f27;
    font-size: 15px;
    font-weight: 400;
    margin: 8px 0;
    padding-bottom: 8px;
    text-transform: uppercase;
  }
  .Participations-occupation {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .Participations-quotes {
    font-size: 13px;
    opacity: 0.9;
    line-height: 1.6;
    margin-top: 10px;
  }
}

.Tickets {
  background-color: #000000;
  display: block;
  padding: 80px 15px;
  .Tickets-firstDisclaimer {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
  }
  h3 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .Tickets-subtitle {
    color: #FFFFFF;
    font-size: 29px;
    line-height: 3.5;
    margin-bottom: 80px;
    text-align: center;
    span {
      margin: 0 6px;
    }
    img {
      margin-bottom: -90px;
      max-width: 390px;
    }
  }
  
  .Tickets-ticket {
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1244px;
    margin: 0 auto 40px;
    padding: 40px;
    width: 100%;
    
    .Tickets-ticket-wrapper {
      align-items: flex-end;
      justify-content: space-between;
      display: flex;
      height: 450px;
      width: 100%;
    }

    .Tickets-ticketDisclaimer {
      font-size: 13px;
      line-height: 2;
      text-align: center;
      margin-top: 8px;
      width: 100%;
    }

    .Tickets-ticketGains {
      align-items: center;
      background-color: #FFFFFF;
      border-radius: 12px;
      box-sizing: border-box;
      display: flex;
      margin: 0 10px;
      padding: 30px;
      height: 100%;
      width: 610px;
      > div {
        padding: 14px;
        width: 50%;
      }
      .Tickets-ticketGainsImgWrapper {
        font-family: 'Encode Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        p {
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 14px;
        }
        small {
          font-size: 13px;
        }
      }
      .Tickets-ticketGainsTexts {
        font-size: 14px;
        font-weight: 300;
        p {
          margin: 12px 0;
          span {
            display: block;
            margin-bottom: 6px;
            padding-right: 30px;
            position: relative;
            svg {
              position: absolute;
              height: 24px;
              margin-left: 6px;
              width: 24px;
              right: 0;
              top: 0;
              stroke: #FF4D64;
            }
          }
        }
      }
    }

    .Tickets-ticketTicket {
      background-color: #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-family: 'Encode Sans', sans-serif;
      justify-content: space-between;
      padding: 0;
      height: 100%;
      width: 304px;

      .Tickets-ticketTicketBody {
        height: 100%;
        padding: 0 14px;
      }

      .Tickets-ticketTicketDescription {
        font-size: 14px;
        line-height: 1.4;
        margin: 14px 0;
        text-align: center;
      }
      
      .Tickets-ticketTicketScore {
        color: #FF4D64;
        font-size: 28px;
        font-weight: 300;
        margin: 22px 0 14px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      .Tickets-ticketTicketPrice {
        font-size: 28px;
        margin: 30px 14px 0;
        text-align: center;
        width: 100%;
        span {
          display: block;
          font-size: 13px;
          color: #404040;
          font-weight: 300;
          text-decoration: line-through;
          margin-bottom: 8px;
        }
      }

      .Tickets-ticketTicketDate {
        color: #FF4D64;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        margin: 0;
      }

      .Tickets-CTA {
        font-size: 15px;
        height: 66px;
        width: 100%;
      }
    }

    .Tickets-ticketTicketHeader {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 94px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    &.Tickets-ticket--xperience {
      background-color: #FFF8F8;
      color: #560001;
      .Tickets-ticketTicketHeader {
        background-image: url(http://polishop.vteximg.com.br/arquivos/hotsite-innovation2020--ticket-header--2.png);
      }
    }
    
    &.Tickets-ticket--plus{
      background-color: #F5F8FF;
      color: #00223D;

      .Tickets-ticketTicketHeader {
        background-image: url(http://polishop.vteximg.com.br/arquivos/hotsite-innovation2020--ticket-header-plus.png);
      }

      .Tickets-ticketGainsTexts {
        p {
          margin-top: -140px;
        }
        p svg {
          stroke: #0376CF !important;
        }
      }

      .Tickets-CTA {
        background-color: #046FC2;
      }

      .Tickets-ticketTicketScore {
        color: #046FC2;
      }
      
      .Tickets-ticketTicketDate {
        color: #046FC2;
      }
    }
  }

  table {
    border-collapse: collapse;
    background-color: #363636;
    border: 6px solid #EB2049;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Encode Sans', sans-serif;
    max-width: 1230px;
    margin: auto;
    width: 100%;
    td, th {
      border: 1px solid #EB2049;
      height: 70px;
      text-align: center;
      vertical-align: middle;
      line-height: 1.4;
    }
  }

  .Tickets-tableDisclaimer {
    font-weight: 300;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }

  .Tickets-mainnCta {
    max-width: 480px;
  }
}

.AlreadyHave {
  background-color: #1E0107;
  display: block;
  padding: 60px 15px;

  .AlreadyHave-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  h3 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
  }
  h4 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 50px 0;
    span {
      margin: 0 6px;
    }
  }
  h5 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 25px;
    span {
      margin: 0 6px;
    }
  }
  p {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 300;
    margin-top: 60px;
    line-height: 1.8;
  }
  .AlreadyHave-warning {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 300;
    padding: 50px;
    background-color: #363636;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    margin: 40px 0;
    box-sizing: border-box;
  }
}

.Faq {
  height: auto !important;
  display: block;
  padding: 60px 20px;
  &:after {
    background-image: url(http://polishop.vteximg.com.br/arquivos/rumo-2030-bg-3.png);
    background-size: cover;
  }
  h3 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
  }
  .Faq-line {
    display: block;
    margin-bottom: auto;
  }
  .Faq-item {
    background-color: #FFFFFF;
    margin: 40px auto;
    max-width: 100%;
    width: 432px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .Faq-itemTitle {
      color: #3F0202;
      display: block;
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      padding: 20px 40px;
      box-sizing: border-box;
      width: 100%;
    }
    .Faq-itemTxt {
      color: #3F0202;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6;
      padding: 0 30px 30px;
      text-align: center;
      height: 100%;
      width: 100%;
      a {
        color: #3F0202;
      }
    }
  }
}

.Terms {
  background-color: #2C0303;
  display: block;
  padding: 180px 0;
  .u-session-title {
    margin-bottom: 60px;
  }
  p {
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .Intro {
    display: flex !important;
    &:after {
      background-size: cover;
      background-position: center;
    }
    img {
      width: 290px;
      max-width: 100%;
    }
    .u-flex {
      display: block;
      padding: 0 15px;
    }
    .Intro-logo, .Intro-text {
      width: 100%;
    }
    .Intro-logo {
      margin: 60px 0;
    }
    .Intro-text {
      h1 {
        font-size: 19px;
        b {
          font-size: 30px;
          line-height: 1.1;
        }
      }
      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }

    .Intro-cta {
      font-size: 13px;
      font-weight: 400;
      width: 90%;
      text-align: center;
    }
  }
  .Video {
    display: block !important;
    padding: 150px 10px 50px;
    position: relative;
    .u-flex {
      flex-direction: column-reverse;
    }
    .Video-explanation {
      font-size: 16px;
      line-height: 2;
      margin: 0;
      img {
        max-width: 100%;
        position: absolute;
        top: 46px;
        width: 220px;
        left: 50%;
        padding: 0 16px;
        transform: translate(-50%, 0);
      }
    }
    iframe {
      height: 300px;
      margin: 70px 0 40px;
      width: 100%;
    }
  }
  .Reasons {
    display: block !important;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    .Invites {
      display: block;
      overflow: auto;
      width: 100%;
      .Invite {
        &.Invite--vip {
          transform: scale(1);
          width: 356px !important;
        }
      }
    }
    .u-flex-center {
      justify-content: start;
      width: 580px;
    }
    .Reasons-title {
      margin-bottom: 10px;
    }
    .Reasons-items {
      .Reasons-itemsItem {
        margin: 20px 0 !important;
        position: relative;
        max-width: 280px;
        img {
          filter: blur(2px);
          margin: 0 !important;
        }
        p {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(75, 0, 0, 0.7);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 30px;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
          font-size: 19px;
          font-weight: 400;
        }
      }
    }
    .Reasons-answer .Reasons-answer-isForYou {
      font-size: 32px;
    }
    .Reasons-cta {
      font-size: 12px;
    }
  }

  .Table-wrapper {
    table {
      width: 100%;
    }
    margin: 12px 0;
    .Table-date {
      display: none;
    }
  }

  .Tables-dates-carousel {
    background: #2D1D1D;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    justify-content: space-around;
    position: relative;

    .Tables-dates-carousel-date {
      font-size: 14px;
      font-weight: 900;
      position: relative;
      background: transparent;
      border: none;
      color: #ffffff
    }

    &:before {
      background-color: #FFFFFF;
      border-radius: 40px;
      content: '';
      height: 70px;
      left: 0;
      position: absolute;
      top: 0;
      width: 33%;
      transition: all linear 0.2s;
    }

    &.Tables-dates-carousel--0 {
      .Tables-dates-carousel-date:first-child {
        color: #2D1D1D;
      }
      &:before {
        left: 0;
        transform: translate(0, 0);
        transition: all linear 0.2s;
      }
    }
    &.Tables-dates-carousel--1 {
      .Tables-dates-carousel-date:nth-child(2) {
        color: #2D1D1D;
      }
      &:before {
        left: 50%;
        transform: translate(-50%, 0);
        transition: all linear 0.2s;
      }
    }
    &.Tables-dates-carousel--2 {
      .Tables-dates-carousel-date:last-child {
        color: #2D1D1D;
      }
      &:before {
        left: 100%;
        transform: translate(-100%, 0);
        transition: all linear 0.2s;
      }
    }
  }

  .Tables-tables {
    display: block;
    width: 100%;
    overflow: auto;
    .u-flex {
      width: 300%;
    }
  }

  .Benefits {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 12px 100px;
    position: relative;
    p.u-center {
      bottom: 20px;
      padding: 12px;
      position: absolute;
      left: 0;
      width: 100%;
    }
    .Benefit {
      margin: 10px auto;
      padding: 40px 14px;
      .Benefit-value {
        font-size: 50px;
        height: 140px !important;
      }
      &.Benefit-vip {
        .Benefit-value {
          font-size: 50px;
          height: 86px !important;
        }
      }
      .Benefit-text {
        font-size: 13px;
        .Benefit-title {
          font-size: 17px;
        }
      }
      &.Benefit-premium {
        // flex-direction: row-reverse;
      }
    }
  }

  .Videos {
    display: block !important;
    .u-flex {
      flex-direction: column;
    }
    .Videos-description {
      margin: 0 !important;
      .Videos-descriptionTitle {
        font-size: 33px;
        text-align: center;
      }
      p {
        text-align: center;
        margin-bottom: 50px;
      }
      img {
        display: none;
      }
    }
    .Videos-videos {
      .Videos-videosVideo {
        max-width: 100%;
        margin: 0 0 20px;
      }
    }
  }

  .Modal .Modal-content {
    height: 300px;
  }

  .BestChoice {
    display: block !important;
    padding: 40px 20px;
    h3 {
      font-size: 32px;
      display: block;
    }
    .BestChoice-list {
      .BestChoice-listTitle {
        font-size: 32px;
      }
      ul {
        li {
          position: relative;
          padding-left: 30px;
          font-size: 16px;
          line-height: 1.6;
          margin: 40px 0;
          svg {
            position: absolute;
            left: 0;
            top: 0;
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  .Participations {
    // display: block !important;
    h3 {
      font-size: 32px;
    }
    .Participations-mainItem.Participations-mainItem--appolinario {
      display: block;
    }
    .Participations-mainItem.Participations-mainItem--appolinario .Participations-mainItemTxt .Participations-occupation {
      font-size: 15px;
    }
    .Participations-mainItem.Participations-mainItem--appolinario .Participations-mainItemTxt .Participations-quotes {
      font-size: 15px;
    }
  }

  .Tickets {
    display: block !important;
    h3 {
      font-size: 24px;
    }
    .Tickets-subtitle {
      font-size: 16px;
      line-height: 2;
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
      border-top: 1px solid #fff;
      text-transform: uppercase;
      font-size: 13px;
      img {
        max-width: 160px;
        display: block;
        margin: auto !important;
      }
    }
    .Tickets-ticket {
      padding: 0;
      .Tickets-ticket-wrapper {
        display: flex;
        height: auto;
        flex-direction: column-reverse;

        .Tickets-ticketPhoneImg {
          display: none;
        }
      }
      .Tickets-ticketTicket {
        max-width: 100%;
        padding-bottom: 20px;
        margin: auto;
        @media (max-width: 414px) {
          width: 100%;
          max-width: 100%;
        }
      }
      .Tickets-ticketGains {
        background-color: transparent;
        max-width: 100%;
        .Tickets-ticketGainsImgWrapper {
          display: none;
        }
        .Tickets-ticketGainsTexts {
          padding: 0;
          width: 100%;
        }
      }
      .Tickets-ticketDisclaimer {
        line-height: 1.2;
        font-size: 12px;
        margin-bottom: 10px;
      }
     &.Tickets-ticket--plus .Tickets-ticketGainsTexts p {
       margin: 0 !important;
     }
    }
    table {
      font-size: 10px;
    }
    .Tickets-mainnCta {
      font-size: 12px;
    }
  }

  .AlreadyHave {
    display: block !important;
    h3 {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 30px;
    }
    .AlreadyHave-cards {
      display: block;
      text-align: center;
      img {
        display: inline-block;
        max-width: 100px;
        margin: 0 4px;
        @media (max-width: 320px) {
          max-width: 84px;
        }
      }
    }
    h4, h5 {
      font-size: 18px;
      line-height: 1.5;
      margin: 20px 0;
    }
    p {
      font-size: 13px;
    }
    .AlreadyHave-warning {
      padding: 10px;
      font-size: 13px;
    }
  }

  .Faq {
    display: block !important;
    padding: 50px 20px;
    h3 {
      font-size: 32px;
    }

    .Faq-line {
      flex-direction: column;
      height: auto !important;
      margin-bottom: 0;
      .Faq-item {
        width: 100%;
        margin: 0 0 30px;
        .Faq-itemTitle {
          font-size: 14px;
          // font-weight: 300;
          line-height: 1.6;
          height: auto;
        }
        .Faq-itemTxt {
          font-size: 13px;
        }
      }
    }
  }

  .Terms {
    display: block !important;
    padding: 50px 20px;

    h3 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    p {
      font-size: 12px;
    }

    img {
      max-width: 100%;
    }
  }
}
